* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include tablets() {
    font-size: 14px;
  }
  
  @include phones() {
    font-size: 13px;
  }
  @include phones320() {
    font-size: 12px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.section {
  height: 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &_centered {
    .title {
      width: 100%;
      text-align: center;
    }
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; 
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

%clearfix {
  &after {
    content: "";
    display: block;
    clear: both;
  } 
}

@each $bgpic in (hero, we, compos, crew, menu, process, order, map) {
   .#{$bgpic} {
    background: url('../img/backgrounds/section_#{$bgpic}.png') center center / cover no-repeat; 
  }
}
