.title {
  font-family: Gagalin, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 1.6;
  color: $butter; // margin-top: 49px;
}

.hero__title {
  margin-top: 94px;
}

.we-are__title {
  color: #000;
  text-align: center;
  margin-top: -26px;
  margin-left: -11px;
}