.we-are__content {
  display: flex;
  justify-content: center;
}

.we-are__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 286px;
  align-items: center;
  text-align: center;
  margin: 0 17px;
}

.we-are__pic {
  width: 97px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
}

.we-are__subtitle {
  font-family: Lifehack, Helvetica, sans-serif;
  line-height: 1;
  font-size: 24px;
  text-align: inherit;
  margin-top: 31px;
}

.we-are__desc {
  line-height: 1;
  color: $dark-grey;
  text-align: inherit;
  line-height: 1.71;
  margin-top: 18px;
}//