.arrow-scroll {
  height: 15px;
  width: rem(30px);
  align-self: center;
  margin-bottom: rem(41px);
  @include phones320 {
    margin-bottom: rem(10px);
  }
}

.arrow-scroll-pic {
  height: 100%;
  background: url('../img/icons/decor/arrow_scroll.png') center center no-repeat;
}