.arrow {
  fill: #fff;
  width: 28px;
  height: 13px;
  position: absolute;
}

.hero__arrow {
  left: 47.5%;
  bottom: 6%;
}

.compos__arrows {
  position: relative;
  display: flex;
  min-width: rem(28px);
  align-items: center;
  justify-content: flex-end;
}

.compos__left-arrow {
  transform: rotate(90deg);
  margin-right: 0;
  width: 100%;
}

.compos__right-arrow {
  transform: rotate(-90deg);
  margin-left: 0;
}