.arrow-scroll {
  background: url('../img/icons/decor/arrow_scroll.png') center center no-repeat;
  height: rem(15px);
  width: rem(30px);
  align-self: center;
  //margin-top: rem(90px);
  margin-bottom: rem(41px);
}