.close {
  display: none;
  @include tablets {
    margin-top: rem(14.77px);
    display: block;
    position: relative;
    align-self: flex-end;
    width: rem(25px);
    height: rem(25px);
    padding: rem(37px);
    cursor: pointer;
    &:before,
    &:after {
      position: absolute;
      left: 50%;
      content: '';
      height: rem(25px);
      width: rem(4px);
      background-color: #ffffff;
      border-radius: 25%;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.close__nav-menu {
  @include tablets {
    position: absolute;
    top: 0.6rem;
    right: 1.3rem;
    padding: 1.06rem;
    display: block;
    cursor: pointer;
  }
}

.compos__close {
  display: none;
  z-index: 20;
  cursor: pointer;
  @include tablets {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: rem(10.3px);
  }
  &:before,
  &::after {
    background-color: $tomato;
  }
}

.menu__close {
  @include tablets {
    display: none;
  }
  @include phones {
    display: block;
    margin-top: 0;
    padding: rem(28px);
  }
}