.compos {
  background-image: linear-gradient(to top, $butter, #eb8c38 48%, $butter 74%);
}

.compos__container {
  max-width: 1020px;
  width: 91%;
  margin: 0;
}

.compos__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.compos__slider {
  height: 100%;
  display: flex;
  align-items: center;
}

.compos__item {
  display: flex;
  width: 100%;
  @include tablets {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
}

.compos__images {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  @include tablets {
    width: 71%;
    margin-top: 3%;
  }
  @include phones {
    width: 108%;
    // margin-top: rem(111px);
  }
  // @include phones320 {
  //   margin-top: 0;
  // }
}

.compos__consist {
  color: #fff;
}

.compos-icon__image {
  width: rem(90px);
  height: rem(90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f08c33;
  border-radius: rem(5px);
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: $tomato;
  }
  @include tablets {
    width: rem(102.86px);
    height: rem(102.86px);
  }
  @include phones {
    width: rem(111px);
    height: rem(111px);
  }
  @include phones320 {
    width: rem(90px);
    height: rem(90px);
  }
}

// .compos-icon__image:hover + .compos__table {
//   opacity: 1;
// }


.compos-icon__image-pic {
  width: rem(46px);
  height: rem(44px);
  fill: #fff;
  @include tablets {
    width: rem(53.2px);
    height: rem(50.29px);
  }
  @include phones {
    width: rem(56.6px);
    height: rem(54px);
  }
  @include phones320 {
    width: rem(46px);
    height: rem(44px);
  }
}

.compos-icon__title {
  font-family: Gagalin, Helvetica, sans-serif;
  font-size: rem(14px);
  padding-top: rem(10px);
  @include tablets {
    font-size: rem(16px);
  }
  @include phones {
    font-size: rem(17.2px);
  }
  @include phones320 {
    font-size: rem(14px);
  }
}

.compos__table {
  position: absolute;
  left: rem(90px);
  // width: rem(270px);
  top: 0;
  font-size: rem(14px);
  color: #2f3234;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid transparent;
  border-radius: rem(5px);
  // opacity: 0;
  display: none;
  transition: 1s;
  &:first-child {
    padding-top: rem(25px);
  }
  @include tablets {
    // width: rem(368px);
    left: rem(102.86px);
  }
  @include phones {
    // width: rem(430px);
    left: rem(110.77px);
  }
  @include phones320 {
    // width: rem(270px);
    left: rem(90px);
  }
}

.compos__cell {
  padding: rem(5px) rem(12px);
  @include tablets {
    padding: rem(5.74px) rem(12px);
  }
  @include phones320 {
    padding: rem(5px) rem(2px);
  }
}

.compos__1col {
  width: rem(44px);
  height: rem(44px);
}

.compos__consist-image {
  width: rem(44px);
  height: rem(44px);
  @include tablets {
    width: rem(50.3px);
    height: rem(50.3px);
  }
  @include phones {
    width: rem(54.15px);
    height: rem(54.15px);
  } 
  @include phones320 {
    width: rem(44px);
    height: rem(44px);
  }
}

.compos__2col {
  font-weight: 500;
  @include tablets {
    font-size: rem(16px);
    padding-left: rem(22.86px);
    padding-bottom: 0;
  }
  @include phones {
    font-size: rem(17.23px);
    padding-left: rem(12px);
  }
}

.compos__3col {
  text-align: right;
  white-space: nowrap;
  @include tablets {
    font-size: rem(16px);
    padding-bottom: 0;
    padding-right: rem(27.5px);
    padding-left: rem(24px);
  }
  @include phones {
    font-size: rem(17.23px);
    padding-right: rem(12px);
    padding-left: 0;
  }
  @include phones320 {
    font-size: rem(16px);
    padding-right: rem(20px);
    padding-left: rem(0px);
  }
}

.compos__calories {
  position: relative;
  width: rem(60px);
  height: rem(60px);
  @include tablets {
    position: absolute;
    right: 6%;
    top: 2%;
  }
  @include phones320 {
    width: rem(50px);
    height: rem(50px);

  }
}

.compos__calories-pic {
  width: rem(60px);
  height: rem(60px);
  fill: rgba(255, 255, 255, 0.5);
  @include tablets {
    width: rem(68.57px);
    height: rem(68.57px);
  }
  @include phones {
    width: rem(73.85px);
    height: rem(73.85px);
  }
  @include phones320 {
    width: rem(60px);
    height: rem(60px);
  }
}

.compos__calories-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  top: rem(18px);
  left: rem(15px);
  font-family: Gagalin, Helvetica, sans-serif;
  line-height: 2;
  @include tablets {
    top: rem(20.57px);
    left: rem(17.14px);
  }
  @include phones {
    top: rem(22.15px);
    left: rem(18.46px);
  }
  @include phones320 {
    top: rem(18px);
    left: rem(15px);
  }
  & .compos__calories-value {
    font-size: rem(20px);
    @include tablets {
      font-size: rem(22.86px);
    }
    @include phones {
      font-size: rem(24.62px);
    }
    @include phones320 {
      font-size: rem(20px);
    }
  }
  & .compos__calories-measure {
    font-size: rem(14px);
    @include tablets {
      font-size: rem(16px);
    }
    @include phones {
      font-size: rem(17.23px);
    }
    @include phones320 {
      font-size: rem(14px);
    }
  }
}

.compos__image {
  height: 100%;
  display: flex;
  align-items: flex-end;
  @include phones {
    align-items: center;
    justify-content: center;
  }
}

.compos__main-pic {
  width: 100%;
  @include phones {
    width: 86%;
  }
}

.compos__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  @include tablets {
    width: 84%;
    margin-bottom: 3%;
  }
  @include phones {
    width: 100%;
  }
}

.compos__title {
  color: #fff;
  line-height: 0.9;
  margin-bottom: rem(48px);
  margin-top: rem(57px);
  text-align: left !important;
  @include tablets {
    text-align: initial;
    text-align: center !important;
    margin-top: rem(17px);
    margin-bottom: rem(54px);
  }
  @include phones {
    width: 95% !important;
    font-size: rem(61.54px);
    line-height: 1.1;
    margin-bottom: rem(24.62px);
  }
  @include phones320 {
    font-size: rem(55px);
    line-height: 1;
    margin-bottom: rem(10px);
  }
}

.compos__text {
  line-height: 1.75;
  margin-bottom: rem(16px);
  @include tablets {
    text-align: center;
    margin-bottom: rem(27px);
  }
  @include phones {
    margin-bottom: rem(18.5px);
  }
  @include phones320 {
    margin-bottom: rem(14px);
    line-height: 1.2;
    font-weight: 300;
    font-size: rem(16px);
  }
}

.compos__order {
  display: flex;
  @include tablets {
    width: 100%;
    justify-content: center;
  }
}

.compos__cost {
  font-family: Gagalin, Helvetica, sans-serif;
  display: inline-flex;
  align-items: flex-end;
  color: $tomato;
  margin-bottom: rem(5px);
  @include tablets {
    margin-right: rem(31px);
  }
}

.compos__value {
  font-size: rem(72px);
  @include tablets {
    font-size: rem(82.3px);
  }
  @include phones {
    font-size: rem(61.5px);
  }
  @include phones320 {
    font-size: rem(55px);
  }
}

.compos__measure {
  font-size: rem(30px);
  margin-left: rem(2px);
  @include tablets {
    font-size: rem(34.3px);
  }
  @include phones {
    font-size: rem(29.5px);
  }
  @include phones320 {
    font-size: rem(23px);
  }
}

.compos__order_btn {
  align-self: flex-end;
  margin-left: rem(25px);
  @include tablets {
    margin-left: 0;
    margin-right: rem(27.43px);
  }
}

.compos-icon__image:hover .compos__table {
  display: flex;
  opacity: 1;
}