.crew__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.crew__block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(31, 30, 30, 0.9);

  @include tablets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.crew__content {
  display: flex;
  flex-direction: column; 
  align-items: center;
  //flex-wrap: wrap;
  max-width: 60%;
  align-content: center;
    
  @include tablets {
    text-align: center;
  }

  @include phones {
    max-width: 90%;
  }
}

.crew__title {
  margin-bottom: rem(26px);
  width: 100%;

  @include phones {
    font-size: 50px;
    text-align: center;
  }
}

.crew__name {
  font-size: rem(14px);
  line-height: 1;
  color: #fff;
  position: relative;
  margin-bottom: rem(5px);
  &:before {
    content: "";
    position: absolute;
    left: -19px;
    bottom: -2px;
    border: 5px solid transparent;
    border-top: 5px solid $butter;
  }

  @include tablets {
    //display: inline-flex;
    font-size: 22px;
  }

  @include phones {
    font-size: 24px;
  }
}

.crew__accordeon {
  display: flex;
  flex-direction: column;
  @include tablets {
    text-align: center;
  }
}

.crew__item {
  margin-bottom: rem(14px);
  margin-left: rem(15px);
  &:last-child {
    margin-bottom: 0;
  }

  @include phones {
    margin-bottom: 18px;
  }

  &_active {

    .crew__ {

      &name {
        color: $butter;
        &:before {
          content: "";
          position: absolute;
          bottom: rem(5px);
          border: 5px solid transparent;
          border-bottom: 5px solid $butter;

        }
      }
      &thumb {
        height: 100%;
        margin-top: rem(19px);
        margin-bottom: rem(30px);

        @include tablets {
        margin-bottom: 12px;
        margin-top: 10px;
        }
      }
      &desc {
        @include tablets {
          margin-top: 18px;
        }
      }
      &post {
        @include tablets {
          font-size: 13px;
        }
      }
    }
  }
}



.crew__thumb {
  display: flex;
  margin-bottom: rem(15px); 
  height: 0;
  overflow: hidden;
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crew__avatar {
  //display: inline-block;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.crew__desc {
  color: #fff;
  line-height: 1.7;
  margin-left: rem(21px);

  }
}

.crew__post {
  font-weight: bold;
  margin-bottom: rem(8px);
}

.crew__occupation {
  line-height: 1.7;
}