.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  position: relative;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.71;
  @include tablets {
    flex-direction: column;
    align-items: center;
    flex: 0.85;
  }
  @include phones {
    align-items: center;
  }
}

.hero__image {
  width: 50%;
  @include tablets {
    width: 62%;
  }
  @include phones {
    width: 82%;
  }
  @include phones320 {
    // width: 70%;
    margin-top: 0;
  }
}

.hero__pic {
  max-width: 100%;
  max-height: 100%;
}

.hero__desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  @include tablets {
    max-width: 70%;
    margin-top: rem(20px);
    width: initial;
    align-items: center;
    text-align: center;

  }
  @include phones {
    max-width: 90%;
    align-items: center;
    margin-top: rem(49.23px);
  }
}

.hero__title {
  line-height: 1;
  margin-bottom: rem(33px);
  margin-top: rem(70px);

  @include tablets {
    width: initial;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.hero__desc_text {
  font-family: Lifehack, Helvetica, sans-serif;
  font-size: rem(65px);
  line-height: 0.9;
  color: #fff;
  align-items: center;
  @include breakpoint970 {
    font-size: rem(60px);
  }
  @include tablets {
    margin-top: rem(46px);
    font-size: rem(74.3px);
  }
  @include phones {
    margin-top: rem(12.31px);
    font-size: rem(61.7px);
  }
  @include phones320 {
    margin-top: rem(12.31px);
    font-size: rem(55px);
  }
}