.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.hero__title {
  line-height: 1;
}

.hero__order_btn {
  margin-left: rem(15px);
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.91;

  @include tablets {
    flex-direction: column;
    align-items: center;
    .hero__image {
      width: 58%;

      @include phones {
        width: 87%;
      }
    }
     .hero__desc {
       text-align: center;
       max-width: 70%;
       margin-top: rem(20px);
       width: initial;

       @include phones {
         width: 90%;
         max-width: 90%;
       }
     }
     .hero__desc_text {
       margin-top: rem(25px);
     }
  }
}

.hero__image {
  width: 50%;
}

.hero__pic {
  max-width: 100%;
  max-height: 100%;
}

.hero__desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__desc_text {
  font-family: Lifehack, Helvetica, sans-serif;
  font-size: rem(65px);
  line-height: 0.9;
  color: #fff;
}

.hero__title {
}