.menu {
  position: relative;
  width: 100%;
}

.menu__accordeon {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.menu__title {
  position: absolute;
  top: 12%;
  left: 9%;
  color: #fff;
}

.menu__list {
  display: flex;
  height: 100%;
}

.menu__item {
  display: flex;
  height: 100%
}

.menu__subtitle {
  display: flex;
  height: 100%;
  min-width: 80px;
  position: relative;
  cursor: pointer;
  
}

.menu__subtitle-text {
  position: absolute;
  font-size: 38px;
  color: #fff;
  display: block;
  transform: rotate(-90deg);
  top: 89%;
  left: 50%;
  transform-origin: 0 50%;
  white-space: nowrap;
}

.menu__desc {
  width: 0;
  overflow: hidden;
  background-color: rgba(59, 57, 54, 0.93);
  z-index: 10;
}

.js-menu__subtitle .menu__subtitle-text {
  color: $butter;
}

.js-menu__subtitle + .menu__desc {
  width: rem(550px);

  @include tablets {
    width: 300px;
  }

  @include phones {
    width: 150px;
  }
}

.menu__text {
  padding: rem(75px) rem(40px);
  line-height: 2;
  color: #fff;

  @include phones {
    padding: 20px 10px;
    line-height: 1.5;
  }
}

@each $menuitem in (meat, vegan, diet) {
  .menu__subtitle_#{$menuitem} {
    background: url('../../img/backgrounds/menu/menu_#{$menuitem}.png') center center / cover no-repeat;
    &:before {
      content: "";
      background: #000;
      width: 100%;
      opacity: .7;
    }
  }
}

