.nav-menu {
  flex: 1;
  text-align: right;
  margin-right: rem(20px);

  @include tablets {
    display: none;
  }
}

.we__content {
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.nav-menu__list {
  text-transform: uppercase;
  color: #fff;
  font-size: rem(13px);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-menu__item {
  display: flex;
  align-items: center;
  margin-left: rem(17px);
  
  &:after {
    content: "";
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    margin-left: rem(17px);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.nav-menu__title {
  text-align: center;
}