.process__title {
  color: #000;
  text-align: center;

  @include tablets {
    // font-size: rem(50px);
    line-height: 1;
    // margin-bottom: rem(2.46px);
  }
  @include phones {
    font-size: rem(50px);
    // line-height: 1;
    // margin-bottom: rem(2.46px);
  }

  @include phones320 {
    font-size: rem(50px);
    // line-height: 1;
    // margin-bottom: rem(10px);
  }
}

.player {
  position: relative;
  // display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.hidden {
    // opacity: 0;
    transition: opacity .3s;
  }
}

.player__splash {
  //////////
  display: none;
  /////////////
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/backgrounds/player-splash.jpg') center center / cover no-repeat;
  cursor: pointer;
}

.player__wrapper {
  &.active .player__splash {
    display: none;
  }
}

#yt-player {
  @include tablets {
    width: 100%;
  }
}

.player__controls {
  // position: absolute;
  position: relative;
  // bottom: 0;
  bottom: 10%;
  left: 0;
  right: 0;
  height: 42px;
  background: #3e3e3e;
  display: flex;
  flex-direction: row;
}

.player__start {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
	border-left: 16px solid #626262;
	border-bottom: 11px solid transparent;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  // position: absolute;
  top: 10px;
  left: 15px;
  outline: none;
  margin: auto 4% auto 3%;
  &.paused {
    width: 14px;
    height: 22px;
    border: none;
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      top: 0;
      bottom: 0;
      background: #626262;
    }
    &:after {
      right: 0;
    }
    &:before {
      left: 0;
    }
  }
}

.player__playback-wrapper {
  height: 100%;
  width: 100%;
}

.player__playback {
  // position: absolute;
  height: 4px;
  // width: 446px;
  // width: 78%;
  background: #626262;
  top: 18px;
  // left: 50px;
  cursor: pointer;
  padding: 3.5px 0;
  border-radius: 7px;
  position: relative;
  margin: 0 auto;

  // @include tablets {
  //   width: 66%;
  // }
}

.player__playback-button {
  background: #626262;
  border-radius: 50px;
  border: none;
  width: 14px;
  height: 14px;
  padding: 0;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  left: 0;
}

.player__duration {
  // position: absolute;
  top: 7px;
  right: 20px;
  color: #626262;
  font-weight: bold;
  white-space: nowrap;
  margin: auto 1% auto 2%;
}

.container__process {
  width: initial;
  @include tablets {
    width: 98%;
  }
}