.socials__pics {
  fill: rgba(255, 255, 255, 0.3);
  width: rem(20px);
  height: rem(20px);
  cursor: pointer;

  &:hover {
    fill: rgba(255, 255, 255, 1);
  }
}

.socials__list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include phones {
    justify-content: center;
  }
}

.socials__item {
  position: relative;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__names {
  position: absolute;
  position: relative;
  font-size: 0;
}
