.title {
  font-family: Gagalin, Helvetica, sans-serif;
  font-size: rem(72px);
  line-height: 1.6;
  color: $butter; // margin-top: rem(49px);

  @include tablets {
    font-size: rem(82.29px);
    width: 100%;
    margin-bottom: 12px;
  }

  @include phones {
    font-size: rem(61.54px);
  }
}



